[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/opensgct/glfw
[submodule "ext/openvr"]
	path = ext/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "ext/freetype2"]
	path = ext/freetype2
	url = http://git.sv.nongnu.org/r/freetype/freetype2.git
