[submodule "ext/glfw"]
    path = ext/glfw
    url=https://github.com/glfw/glfw
[submodule "ext/openvr"]
    path = ext/openvr
    url = https://github.com/ValveSoftware/openvr.git
[submodule "ext/freetype2"]
    path = ext/freetype2
    url=https://github.com/OpenSpace/freetype-mirror
[submodule "ext/glbinding"]
    path = ext/glbinding
    url = https://github.com/cginternals/glbinding.git
[submodule "ext/glm"]
    path = ext/glm
    url = https://github.com/g-truc/glm.git
[submodule "ext/tracy"]
	path = ext/tracy
	url = https://bitbucket.org/wolfpld/tracy.git
