**/.DS_Store
**/merge_libs.bat
*.csproj
*.filters
*.log
*.opendb
*.tlog
*.sdf
*.sln
*.suo
*.vcxproj
*.VC.db

ALL_BUILD.vcxproj.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Doxyfile
bin/
build/
docs/html
generate.stamp
generate.stamp.depend
include/external/jconfig.h
include/external/jconfigint.h
include/external/pnglibconf.h
include/external/zconf.h
include/sgct/SGCTVersion.h
include/sgct/SGCTConfig.h
include/vrpn/vrpn_Configure.h
sgct_light.dir/
sgct_light.dir/Release/sgct_light.vcxprojResolveAssemblyReference.cache
src/deps/freetype/freetype.dir/
src/deps/glew/glew.dir/
src/deps/libjpeg-turbo/jconfig.h
src/deps/libjpeg-turbo/jconfigint.h
src/deps/libjpeg-turbo/simd/
src/deps/libjpeg-turbo/turbojpeg-static.dir/
src/deps/lpng/pnglibconf.h
src/deps/lpng/png16_static.dir/
src/deps/lpng/zlib/zlib.pc
src/deps/lpng/zlib/zconf.h
src/deps/lpng/zlib/zlibstatic.dir/
src/deps/tinyxml2/cmake_install.cmake
src/deps/tinyxml2/tinyxml2.pc
src/deps/tinyxml2/tinyxml2static.dir/
src/deps/vrpn/quat/quat.dir/
src/deps/vrpn/vrpn_Configure.h
src/deps/vrpn/vrpn.dir/
src/installer/build_release_linux.sh
src/installer/build_release_xcode.sh
src/installer/build_release_xcode_cpp11.sh
src/installer/sgct_osg_all_win.nsi
src/installers/sgct_osg_all_win.nsi
src/**/x64/
